body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.gallery-container {
	max-width: 1000px;
	width: 100%
}
h1 {
	text-align: center;
	margin-bottom: 20px;
	font-family: -webkit-body;
	text-transform: uppercase;
	animation: 2.5s linear infinite backgroundMove;
	background: linear-gradient(90deg, #d64848, #000, #d64848);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2 {
	text-align: center;
	margin-bottom: 30px;
	font-family: -webkit-body;
	text-transform: uppercase;
	animation: 2.5s linear infinite backgroundMove;
	background: linear-gradient(90deg, #d64848, #000, #d64848);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: medium;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
.gallery-item {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	transition: transform .1s;
}
.gallery-item:hover {
	transform: scale(1.02);
}
.gallery-item img {
	width: 100%;
	height: auto;
	display: block;
}

.image-container {
	position: relative;
}

.placeholder {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Maintain aspect ratio */
	background-color: #e0e0e0; /* Placeholder background color */
	display: block;
}

img {
	display: none; /* Hide the image initially */
}

@media (max-width:800px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width:500px) {
	.gallery {
		grid-template-columns: 1fr;
	}
}
.download-button {
    display: inline-block;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color .2s, transform .1s;
    font-size: 22px;
}
.download-button:hover {
	transform: scale(1.02);
}
h3 {
	color: #383838;
}
@keyframes colorPulse {
	0%, 100% {
		color: #f96060;
	}
	50% {
		color: #fefffe;
	}
}
@keyframes backgroundMove {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}
html, body, h1, h2, p, h3 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	/* Optional: sets a comfortable line height */
}
body {
    margin: 0;
    height: 100vh; /* Ensure body takes full viewport height */
    background-image: url('bg.png'); /* Add your images here */
    background-size: 100px 100px; /* Size of each image */
    background-repeat: repeat; /* Repeat the images to fill the background */
    background-position: center; /* Positioning of images */
    background-attachment: fixed; /* Make background stay still while scrolling */
}

li{    font-size: medium;
    color: #5a5a5a;}

#copyr{    margin-top: 35px;
    padding-bottom: 35px;}

	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		overflow: hidden;
	}
	
	.banner img {
		max-width: 100%;
		height: auto;
	}

	.actbtn{
		color: #ffffff;
		background-color: #1a1a1a;
		padding: 10px;
		border-radius: 7px;
		padding-top: 5px;
		padding-bottom: 5px;
		display: inline-block;
	}